{% extends "base.html" %}

{% block content %}
    {% for ep in eps %}
    <div id="episode-container">
      <div class="col-xs-3"><img src="feed/images/{{ ep.author.replace(' ','').lower() }}.png" alt="{{ ep.author}}" /></div>
      <div class="col-xs-9">
        <h1>{{ ep.author }} - {{ ep.date }}</h1>
        <p><a href="{{ ep.link }}">{{ ep.title }} [{{ ep.time }}]</a></p>
        <p>{{ ep.desc }}</p>
      </div>
    </div>
    <br />
    {% endfor %}
    <br />
    <div class="parent"><div class="child">
    {{ pagination.links }}
    </div></div>
    <div id="footer-third-block">
        <p class="copyright" style="text-align: center">{{ timestamp }}</p>
    </div>
{% endblock %}
